chromium/
clipit/
compton.conf
configstore/
dconf/
deepin/
dmenu-recent/
dunst/
epdfview/
fish/fish_history
fish/fishd.*
fontconfig/
gconf/
git/gitk
git-cola/
GitKraken/
gtk-2\.0/
gtk-3\.0/
hexchat/
hub
i3-scrot.conf
Kvantum/
libfm/
manjaro-hello.json
manjaro/
menus/
morc_menu/
nitrogen/
pavucontrol.ini
pcmanfm/
pulse/
qt5ct/
QtProject\.conf
qupzilla/
ranger/
Slack/
user-dirs.*
viewnior/
vlc/
volumeicon/
xfce4/
yarn/
