# ChromeOS
configstore
cros-garcon.conf
Cypress/
dconf/
dlv/
weston.ini

# Fedora
dleyna-server-service*
gnome-control-center
gnome-initial-setup-done
google-chrome
gtk-2.0
gtk-3.0
kreversirc
LosslessCut
menus
mimeapps.list
monitors.xml*
pipewire
rust-analyzer
totem
user-dirs.*
yelp

# Fish
fish/fish_history
fish/fishd.*
fish/fish_variables

# Fuck
thefuck

# Inkscape
inkscape/

libreoffice/

# Ubuntu Unity
compiz-1/
config-kupfer*
enchant/
evolution/
gedit/
ibus/
mnemonics*
nemo/
unity*

# MP3 tag editor
insight-nodejs/
MusicBrainz/
nextjs-nodejs/
nvim/
pulse/

# RClone
rclone/

# SimpleNote
Simplenote/

# VSCode
Code/*
!Code/User/
Code/User/globalStorage/
Code/User/workspaceStorage/
!Code/User/snippets/*
!Code/User/keybindings.json
!Code/User/settings.json

