Code/*
!Code/User/
Code/User/globalStorage/
Code/User/workspaceStorage/
!Code/User/snippets/*
!Code/User/keybindings.json
!Code/User/settings.json

configstore
cros-garcon.conf
dconf/
dlv/
gtk-3.0
fish/fish_history
fish/fishd.*
fish/fish_variables
git/
pulse/
rclone/
Simplenote/
weston.ini
